body {
     font-family: Arial,
     sans-serif; 
     text-align: center; 
    }
input
 {
     display: block; 
     margin: 10px auto;
     padding: 8px;
     }
button
    {
     padding: 8px 12px; 
     cursor: pointer;
     }
ul 
  { 
    list-style: none; 
    padding: 0;
 }
li 
   { 
    margin: 5px;
    padding: 10px;
    background: lightgray;
    display: flex;
    justify-content: space-between; 
    }
